@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-item {
  @apply text-base font-medium leading-[22px] tracking-tight text-white;
}

body {
 background: #000000;
}

.join-waitlist {
  background-image: url('./assets/background.svg');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  height: 195vh;
}
